.header-home {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.learn-more-header {
	color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	background-image: url("../../images/photo-1604964432806-254d07c11f32.png");
	background-size: contain;
}

.learn-more-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	padding-bottom: 6rem;
	margin-top: auto;
}

.learn-more-text {
	opacity: 0.6;
}

.learn-more-expand {
	color: #33c1ff;
}

 /*  section projects - MAIN */

.projects {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.projects-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	position: relative;	
	justify-content: space-between;
}

.project {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.project-data {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.img-dex, .project-data {
	transition: all .5s linear;
}

.img-dex {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -99;
	border-radius: 10px;
	opacity: .6;
}

.projects .title {
	padding-top: 4rem;
	margin-bottom: 4rem;
	font-weight: 700;
	font-size: 2rem;
}

.projects .name {
	padding-top: 4rem;
	margin-bottom: 4rem;
	font-weight: 500;
	font-size: 1.2rem;
	text-transform: capitalize;
}

.perfil-image {
	width: 10%;
	cursor: pointer;
	border-radius: 50%;
}

.description {
	text-align: center;
	padding: 4rem 16rem 8rem;
	font-family: 'Inconsolata', monospace;
	font-weight: 500;
	font-size: 1.2rem;
	margin-bottom: 4rem;
}

.input-container {
	display: flex;
	gap: .5rem;
	padding-top: 2rem;
}

.radio {
	display: none;
}

.radio-label {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #33c1ff;
	cursor: pointer;
	transition: .25s linear;
}

/* SKILLS */

.skills {
	padding-bottom: 8rem;
}

.skills-title {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.skills-container {
	padding: 0 5rem;
}

.skills-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	opacity: 0;
}

.skill-card {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
}

.card {
	display: flex;
	flex-direction: column;
	width: fit-content;
	border-radius: 10px;
	padding: 1rem 3rem;
	align-items: center;
	box-shadow: -2px 2px 5px 1px #33c1ff;
}

.skill-name {
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.skill-img {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}

