.header-home {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.introduction-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.introduction-title {
	margin-top: 2rem;
	font-size: 1.4rem;
	text-align: left;
}

.introduction-img {
	width: 100%;
	margin: 2rem 0;
}

.introduction-description {
	margin-bottom: 2rem;
	font-weight: 500;
	font-size: 1rem;
	opacity: .8;
}

.learn-more-header {
	padding-bottom: 4rem;
}

.learn-more-text-container {
	border: 1px solid #33c1ff;
	border-radius: .5rem;
	padding: 0.4rem 0.8rem;
	text-align: center;
}

.learn-more-text {
	opacity: 0.6;
}

.learn-more-expand {
	color: #33c1ff;
}

 /*  section projects - MAIN */

.projects {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.projects-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	position: relative;	
}

.project {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-radius: 10px;
  box-shadow: 15px 15px 20px 1px gray;
	max-width: 400px;
}

.project-data {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.img-dex, .project-data {
	transition: all .5s linear;
}

.img-dex {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -99;
	border-radius: 10px;
	opacity: .6;
}

.projects .title {
	padding-top: 4rem;
	margin-bottom: 4rem;
	font-weight: 700;
	font-size: 2rem;
}

.projects .name {
	padding-top: 4rem;
	margin-bottom: 4rem;
	font-weight: 500;
	font-size: 1.2rem;
	text-transform: capitalize;
}

.images-container {
	display: flex;
	justify-content: space-around;
}

.perfil-image {
	width: 30%;
	cursor: pointer;
	border-radius: 50%;
	max-width: 200px;
	cursor: pointer;
}

.description {
	text-align: center;
	padding: 4rem 2rem;
	font-family: 'Inconsolata', monospace;
	font-weight: 500;
	font-size: 1rem;
}

.input-container {
	display: flex;
	gap: 2rem;
	padding-top: 4rem;
}

.radio {
	display: none;
}

.radio-label {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid #33c1ff;
	cursor: pointer;
	transition: .25s linear;
}

/* SKILLS */

.skills {
	padding-bottom: 8rem;
}

.skills-title {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.skills-container {
	padding: 0 5rem;
}

.skills-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	opacity: 0;
}

.skill-card {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
}

.card {
	display: flex;
	flex-direction: column;
	width: fit-content;
	border-radius: 10px;
	padding: 1rem 3rem;
	align-items: center;
	box-shadow: -2px 2px 5px 1px #33c1ff;
}

.skill-name {
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.skill-img {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}

