footer {
  background: gray;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem;
}

.contact-title {
  margin-right: 3rem;
  align-self: flex-start;
  font-size: 2rem;
  text-transform: capitalize;
}

.social-midia {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

footer .contact-button {
  border-radius: 0.5rem;
  border: 1px solid #33c1ff;
  background: #33c1ff;
  padding: 0.5rem 0rem;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  max-width: 400px;
}

footer .links-midia {
  display: flex;
  padding-top: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer .links-container {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid rgba(51, 193, 255, 0.5);
  padding: 1rem 1rem;
  width: 100%;
  justify-content: center;
}

.links-container .link {
  text-transform: uppercase;
  color: white;
  opacity: 0.6;
}

footer .social-midia {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1rem;
}

.social-midia img {
  width: 50px;
}

.first-img {
  padding-top: 1rem;
}

footer .footer-logo-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  text-transform: capitalize;
}

footer .footer-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: white;
  letter-spacing: 0.4rem;
  font-weight: 700;
  margin: auto 0 0;
  cursor: pointer;
}

footer .footer-logo-name {
  font-size: 1.4rem;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

footer .footer-logo-description {
  font-size: 0.9rem;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

footer .copyright {
  color: white;
  opacity: 0.6;
  text-align: center;
  padding-top: 2rem;
  margin: 0 0 auto;
}

@media screen and (min-width: 768px) {
  footer .footer-logo-name {
    font-size: 1.6rem;
  }

  footer .footer-logo-description {
    font-size: 1rem;
  }

  footer .copyright {
    display: flex;
    justify-content: center;
  }

  footer .contact-button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  footer .contact-button-container {
    order: -2;
    width: 100%;
  }

  footer .contact-button {
    margin: 0;
    padding: 1rem 0rem;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer .footer-logo-container {
    width: 40%;
  }

  footer .links-midia {
    width: 60%;
    order: -1;
    flex-wrap: nowrap;
  }

  footer .links-container {
    flex-direction: column;
    border-bottom: initial;
    width: 50%;
    align-items: flex-end;
    gap: 4rem;
    border-right: 1px solid rgba(51, 193, 255, 0.5);
  }

  footer .social-midia {
    width: 50%;
    flex-direction: column;
    padding-top: 0;
    padding: 1rem 1rem;
    gap: 2rem;
  }
}
