.nav-bar {
	display: flex;
	background: rgba(51, 193, 255);
	flex-direction: column;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 100%;
	position: fixed;
	height: fit-content;
	z-index: 99;
	overflow: auto;
	transition: all 0.3s ease-in-out;
	text-transform: capitalize;

}

.nav-bar-opac {
	opacity: .5;
}


.logo {
	display: flex;
	flex-direction: column;
	letter-spacing: .4rem;
	color: white;
	align-items: center;
}
	
	
.logo-name, .logo-description {
	font-family: 'Inconsolata', monospace;
}

.logo-name {
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: .2rem;
}

.logo-description {
	font-size: .9rem;
	font-weight: 700;
}

.nav-items-container {
	display: flex;
	padding: 2rem 0 1rem;
	justify-content: center;
	gap: 2rem;
}

.nav-items {
	font-size: 1.2rem;
}

.link-nav {
	color: white;
	opacity: .8;
	padding: .4rem .8rem	;
	border: 1px solid white;
	border-radius: .5rem;
}


@media screen and (min-width: 768px) {
	.nav-bar {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.logo-name {
		font-size: 1.6rem;
	}

	.logo-description {
		font-size: 1rem;
	}

	.link-nav {
		padding: 0.6rem 2rem;
	}
}