.nav-bar {
	display: flex;
	background: rgba(51, 193, 255);
	flex-direction: column;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 100%;
	position: fixed;
	height: fit-content;
	z-index: 99;
	overflow: auto;
}


.logo {
	display: flex;
	flex-direction: column;
	letter-spacing: .4rem;
	color: white;
	align-items: center;
}
	
	
.logo-name, .logo-description {
	font-family: 'Inconsolata', monospace;
}

.logo-name {
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: .2rem;
}

.logo-description {
	font-size: 1rem;
	font-weight: 700;
}

.nav-items-container {
	display: flex;
	padding: 2rem 0 1rem;
	justify-content: center;
	gap: 2rem;
}

.nav-items {
	font-size: 1.2rem;
}

.link-nav {
	color: white;
	opacity: .8;
	padding: .4rem .8rem	;
	border: 1px solid white;
	border-radius: .5rem;
}


/*DESKTOP*/

/* .nav-bar {
	display: flex;
	justify-content: space-between;
	padding-top: 3rem;
	padding-bottom: 3rem;
	align-items: center;
	text-transform: capitalize;
	border-bottom: 1px solid rgba(51, 193, 255, .5);
	color: white;
	background: gray;
}

.nav-items-container {
	display: flex;
	gap: 3rem;
	margin-right: 5rem;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: .4rem;
	color: white;
}

.logo-name, .logo-description {
		font-family: 'Inconsolata', monospace;
	}

.logo-name {
		font-size: 2rem;
		font-weight: 700;
}

.logo-description {
	font-size: 1.2rem;
	font-weight: 700;
}

.nav-items {
	font-size: 1.2rem;
	
}

.link-nav {
	color: white;
	opacity: .8;
	padding: .5rem 2rem;
	border: 1px solid #33C1FF;
	border-radius: .5rem;
}
 */
