* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.container {
	padding-left: 12rem;
	padding-right: 12rem;
}

.fadeInLeft {
	-webkit-animation: fadeInLeft 1.2s both;
	-moz-animation: fadeInLeft 1.2s both;
	-o-animation: fadeInLeft 1.2s both;
	animation: fadeInLeft 1.2s both;
}

@-webkit-keyframes fadeInLeft {
	0%{
		opacity: 0;
		-webkit-transform: translateX(-500px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInLeft {
	0%{
		opacity: 0;
		-moz-transform: translateX(-500px);
	}
	100%{
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-o-keyframes fadeInLeft {
	0%{
		opacity: 0;
		-o-transform: translateX(-500px);
	}
	100%{
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0%{
		opacity: 0;
		transform: translateX(-500px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation: fadeInRight 1.2s both;
	-moz-animation: fadeInRight 1.2s both;
	-o-animation: fadeInRight 1.2s both;
	animation: fadeInRight 1.2s both;
}

@-webkit-keyframes fadeInRight {
	0%{
		opacity: 0;
		-webkit-transform: translateX(500px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInRight {
	0%{
		opacity: 0;
		-moz-transform: translateX(500px);
	}
	100%{
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-o-keyframes fadeInRight {
	0%{
		opacity: 0;
		-o-transform: translateX(500px);
	}
	100%{
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInRight {
	0%{
		opacity: 0;
		transform: translateX(500px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}